*{margin: 0;
    padding: 0;
}


.cabecalho{
    background-color: rgb(255, 247, 253);
    color: rgb(15, 14, 15);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 8%;
    border-radius: 22px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a{
    text-decoration: none;
    color:#eb09a7;
}

a:hover {
    color: #33061c;
}

a:active{
    color: rgb(243, 211, 232);

}

.escola-imagem{
    width: 25%;
    height: 300px;
    border-radius: 82px;
}

.escola{
    background-image:linear-gradient( #fafafa, #c5
    08cc94) ;
    color: rgb(29, 26, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 45%;
}

.escola-titulo{
    padding:24px 0;
}

p{
    padding:0 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}  

   /*Inciar seção cabecalho*/
   .cabecalho { 
       background-color: #f5419b; /*cor de fundo*/
       color: rgb(0, 109, 182); /*cor*/
       display: flex; /*propriedade flex para organizar os itens do cabecalho,lado a lado*/
       justify-content: space-around; /*alinha as imagens e os textos com espaçamento entre eles*/
       align-items: center; /*alinhamento do itens centralizado*/
       padding: 24px 0; /*altera o espaçamento interno*/
 }
 .cabecalho-imagem{ 
    width: 8%; /**/
    border-radius: 22px; /*para definir bordas arredondadas da imagem*/
 }

.cabecalho-lista-imagem {  
    display: inline-block /*o valor inline-block na propriedade display, os item a lista ficam lado a lado*/
    margim: 0 16px; /**/
    font-size: 24px; /*tamanhoda fonte*/
} 

.cabecalho-lista-imagem a { 
     text-decoration: none;/**/
     color:#33061c;/*cor*/
}
/*Efeito alterar a cor quando passa o mouse*/
a:houver { 
     color:aquamarine;/*cor/
}

/*alterar a cor quando clicar o mouse*/

a:active{
   color: rgb(199, 215, 246);
}


